@media (min-width: 600px) {
  .text {
      font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .text {
    font-size: 1rem;
  }
}

.form {
  width: 700px;
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #fb1 23.5%,
        rgba(240, 166, 17, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #b71 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #fb1 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #fb1 0
      )
      0 0,
    linear-gradient(
        150deg,
        #fb1 24%,
        #b71 0,
        #b71 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #b71 0,
        #b71 76%,
        #fb1 0
      )
      0 0,
    linear-gradient(
        30deg,
        #fb1 24%,
        #b71 0,
        #b71 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #b71 0,
        #b71 76%,
        #fb1 0
      )
      0 0,
    linear-gradient(90deg, #b71 2%, #fb1 0, #fb1 98%, #b71 0%) 0 0 #fb1;
  background: linear-gradient(to right, purple, red);
}

#image_upload {
  height: 0px;
  width: 0px;
}

.image_upload {
    transition-duration: 0.4s;
    background-color: purple; 
  color: white; 
  border: 2px solid white;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  }
  
  .image_upload:hover {
    background-color: white;
    color: black;
  }


.wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.input{
  padding: .5rem;
}

#footer {
  background-color: black !important;
  width: fit-content;
}

span {
  width: min-content;
}
