.Tilt {
    background: linear-gradient(to right, rgb(212, 223, 220) , rgb(168, 177, 177));
    
}
@media (min-width: 600px) {
    .Logo {
        height: 170px;
        width: 150px;
    }
}

@media (max-width: 600px) {
    .Logo {
    height: 85px;
    width: 75px;
}
}
nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 3em;
    }

