.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home_wrapper{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.center {
  display: flex;
  justify-content: center;
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}