.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }

  .face_detection {
    display: flex;
    flex-direction: column;
  }

  .img{
    padding: 0em .5em;
  }